{
    "sources": [
            "./rtl/soc/openaars_defines.vh",
            "./fpga/openaars/minimig_version.vh",
            "./rtl/openaars/adv7511/adv_ddr.v",
            "./rtl/minimig/agnus.v",
            "./rtl/minimig/agnus_audiodma.v",
            "./rtl/minimig/agnus_beamcounter.v",
            "./rtl/minimig/agnus_bitplanedma.v",
            "./rtl/minimig/agnus_blitter.v",
            "./rtl/minimig/agnus_blitter_adrgen.v",
            "./rtl/minimig/agnus_blitter_barrelshifter.v",
            "./rtl/minimig/agnus_blitter_fill.v",
            "./rtl/minimig/agnus_blitter_minterm.v",
            "./rtl/minimig/agnus_copper.v",
            "./rtl/minimig/agnus_diskdma.v",
            "./rtl/minimig/agnus_refresh.v",
            "./rtl/minimig/agnus_spritedma.v",
            "./rtl/minimig/amber.v",
            "./rtl/clock/amiga_clk.v",
            "./rtl/clock/amiga_clk_xilinx.v",
            "./rtl/openaars/adv7511/bram_tdp.v",
            "./rtl/minimig/cart.v",
            "./rtl/minimig/cia_int.v",
            "./rtl/minimig/cia_timera.v",
            "./rtl/minimig/cia_timerb.v",
            "./rtl/minimig/cia_timerd.v",
            "./rtl/minimig/ciaa.v",
            "./rtl/minimig/ciaa_ps2keyboard.v",
            "./rtl/minimig/ciaa_ps2keyboard_map.v",
            "./rtl/minimig/ciab.v",
            "./rtl/sdram/cpu_cache_new.v",
            "./rtl/minimig/denise.v",
            "./rtl/minimig/denise_bitplane_shifter.v",
            "./rtl/minimig/denise_bitplanes.v",
            "./rtl/minimig/denise_collision.v",
            "./rtl/minimig/denise_colortable.v",
            "./rtl/minimig/denise_colortable_ram_mf.v",
            "./rtl/minimig/denise_hamgenerator.v",
            "./rtl/minimig/denise_playfields.v",
            "./rtl/minimig/denise_spritepriority.v",
            "./rtl/minimig/denise_sprites.v",
            "./rtl/minimig/denise_sprites_shifter.v",
            "./rtl/sdram/dpram_256x32.v",
            "./rtl/sdram/dpram_be_1024x32.v",
            "./rtl/sdram/dpram_inf_generic.v",
            "./rtl/minimig/gary.v",
            "./rtl/minimig/gayle.v",
            "./rtl/minimig/gayle_fifo.v",
            "./rtl/host/hostcache.v",
            "./rtl/openaars/adv7511/i2c_master.v",
            "./rtl/host/i2c_master_mmio.v",
            "./rtl/openaars/i2s_tx.v",
            "./rtl/openaars/mcp23s17/mcp23s17_input.v",
            "./rtl/minimig/minimig.v",
            "./rtl/minimig/minimig_autoconfig.v",
            "./rtl/minimig/minimig_autoconfig_rom.v",
            "./rtl/minimig/minimig_bankmapper.v",
            "./rtl/minimig/minimig_m68k_bridge.v",
            "./rtl/minimig/minimig_sram_bridge.v",
            "./rtl/minimig/minimig_syscontrol.v",
            "./rtl/soc/minimig_virtual_top.v",
            "./rtl/openaars/adv7511/pal_to_hd_upsample.v",
            "./rtl/minimig/paula.v",
            "./rtl/minimig/paula_audio.v",
            "./rtl/minimig/paula_audio_channel.v",
            "./rtl/minimig/paula_audio_mixer.v",
            "./rtl/minimig/paula_audio_sigmadelta.v",
            "./rtl/minimig/paula_audio_volume.v",
            "./rtl/minimig/paula_floppy.v",
            "./rtl/minimig/paula_floppy_fifo.v",
            "./rtl/minimig/paula_intcontroller.v",
            "./rtl/minimig/paula_uart.v",
            "./rtl/sdram/sdram_ctrl.v",
            "./rtl/openaars/mcp23s17/spi_master.v",
            "./rtl/minimig/userio.v",
            "./rtl/minimig/userio_osd.v",
            "./rtl/minimig/userio_osd_spi.v",
            "./rtl/minimig/userio_ps2mouse.v",
            "./rtl/minimig/amiga_keyboard.v",
            "./rtl/openaars/adv7511/pal_to_ddr.sv",
            "./rtl/openaars/adv7511/signal_generator.sv",
            "./EightThirtyTwo/RTL/eightthirtytwo_pkg.vhd",
            "./EightThirtyTwo/RTL/eightthirtytwo_aligner_le.vhd",
            "./EightThirtyTwo/RTL/eightthirtytwo_aligner.vhd",
            "./EightThirtyTwo/RTL/eightthirtytwo_fetchloadstore.vhd",
            "./EightThirtyTwo/RTL/eightthirtytwo_decode.vhd",
            "./EightThirtyTwo/RTL/eightthirtytwo_shifter.vhd",
            "./EightThirtyTwo/RTL/eightthirtytwo_alu.vhd",
            "./EightThirtyTwo/RTL/eightthirtytwo_hazard.vhd",
            "./EightThirtyTwo/RTL/eightthirtytwo_debug.vhd",
            "./EightThirtyTwo/RTL/eightthirtytwo_cpu.vhd",
            "./EightThirtyTwo/RTL/debug_virtualjtag.vhd",
            "./EightThirtyTwo/RTL/debug_fifo_altera.vhd",
            "./EightThirtyTwo/RTL/debug_bridge_jtag.vhd",
            "./fw/ctrl_boot_832/OSDBoot_832_ROM.vhd",
            "./rtl/host/832_bridge.vhd",
            "./rtl/audio/AudioMix.vhd",
            "./rtl/tg68k/TG68K_Pack.vhd",
            "./rtl/tg68k/TG68K_ALU.vhd",
            "./rtl/tg68k/TG68KdotC_Kernel.vhd",
            "./rtl/rtg/VideoStream.vhd",
            "./rtl/akiko/cornerturn.vhd",
            "./rtl/akiko/akiko.vhd",
            "./rtl/audio/audiofilter.vhd",
            "./rtl/host/cfide.vhd",
            "./rtl/chameleonv1/gen_reset.vhd",
            "./rtl/openaars/adv7511/i2c_sender.vhd",
            "./rtl/soc/TG68K.vhd",
            "./rtl/soc/minimig_openaars_top.v",
            "./rtl/minimig/denise_hamgenerator_ram_mf.v",
            "./rtl/openaars/adv7511/frame_freq.v",
            "./rtl/soc/minimig_defines.vh",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/adv7511_video.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/buttons.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/floppy.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/generic.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/i2s.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/joystick.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/leds.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/pmod.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/ps2.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/sd_card.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/timing.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/uart.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/wizard.xdc",
            "./fpga/openaars/aars_v4.0_lite/xc7a100t/sdram.xdc",
            "./bench/ps2mouse/ps2mouse_ctrl.v",
            "./rtl/minimig/userio_ps2mouse.v",
            "./bench/ps2mouse/ps2mouse_tb.v",
            "./fw/ctrl_boot_832/OSDBoot_832_ROM.vhd",
            "./sim/rom-hostcpu-test/memtest_orig_top_tb.vhd",
            "./sim/rom-hostcpu-test/memtest_top_tb.v",
            "./rtl/openaars/adv7511/i2c_master.v",
            "./rtl/host/i2c_master_mmio.v",
            "./sim/hostcpu-i2c-bridge/i2c_slave_tb.v",
            "./rtl/host/cfide.vhd",
            "./sim/hostcpu-i2c-bridge/i2c_bridge_tb.v",
            "./sim/hostcpu-i2c-bridge/i2c_bridge_tb_behav.wcfg",
            "./rtl/openaars/adv7511/signal_generator.sv",
            "./rtl/openaars/adv7511/pal_to_ddr.sv",
            "./rtl/openaars/adv7511/pal_to_hd_upsample.v",
            "./rtl/openaars/adv7511/adv_ddr.v",
            "./rtl/openaars/adv7511/bram_tdp.v",
            "./sim/upscale_simulation/upscale_top.v",
            "./rtl/openaars/adv7511/frame_freq.v"
    ]
}
